<html>
<head>
	<title>Music Share</title>
</head>
<body>
	<div ng-controller='tracksController'>

		<div id="container">
	       <table>
				<tr div ng-repeat="x in songs">
					<td>
						<iframe id="soundcloud_widget"
					      ng-src="{{ x.tracks | scEmbedUrl}}"
					      height="100"
					      frameborder="no"></iframe>
					      	<button class="btn waves-effect waves-light red disabled" ng-click="deleteSong(x)" type="submit" ><i class="fa fa-times"></i></button>
					</td>	
				</tr>
			</table>
		</div>
	</div>
</body>
</html>